mkdir -p projects/local
(cd projects/local && [[ -d ur-agent ]] \
    || git clone GITCLONESOURCEur-agent)
(cd projects/local && [[ -d kvm ]] \
    || git clone GITCLONESOURCEillumos-kvm kvm)
(cd projects/local && [[ -d kvm-cmd ]] \
    || git clone GITCLONESOURCEillumos-kvm-cmd kvm-cmd)
(cd projects/local && [[ -d sdc-platform ]] \
    || git clone GITCLONESOURCEsdc-platform)
(cd overlay && [[ -d sdc ]] || \
    ln -s ../projects/local/sdc-platform/overlay sdc)

PUBLISHER="joyent"
RELEASE_VER="joyent_147"
SUNW_SPRO12_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/sunstudio12-patched-ii-2009Sep-sol-x86.tar.bz2"
SUNW_SPRO12u1_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/sunstudio12u1-patched-ii-2010Feb-sol-x86.tar.gz"
ON_CLOSED_BINS_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/on-closed-bins.i386.tar.bz2"
ON_CLOSED_BINS_ND_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/on-closed-bins-nd.i386.tar.bz2"
GET_ILLUMOS="(git clone GITCLONESOURCEillumos-joyent illumos)"
GET_ILLUMOS_EXTRA="git clone GITCLONESOURCEillumos-extra illumos-extra"
ILLUMOS_ADJUNCT_TARBALL_URL="https://download.joyent.com/pub/build/adjuncts/"
OVERLAYS="sdc generic"
