mkdir -p projects/local
(cd projects/local && [[ -d ur-agent ]] \
    || cp -r BUILDDIRur-agent ./)
(cd projects/local && [[ -d operator-toolkit ]] \
    || cp -r BUILDDIRoperator-toolkit ./)
(cd projects/local && [[ -d kvm ]] \
    || cp -r BUILDDIRkvm ./)
(cd projects/local && [[ -d kvm-cmd ]] \
    || cp -r BUILDDIRkvm-cmd-14 kvm-cmd )
(cd projects/local && [[ -d sdc-platform ]] \
    || cp -r BUILDDIRsdc-platform ./)
(cd overlay && [[ -d sdc ]] || \
    ln -s ../projects/local/sdc-platform/overlay sdc)

PUBLISHER="joyent"
RELEASE_VER="joyent_147"
SUNW_SPRO12_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/sunstudio12-patched-ii-2009Sep-sol-x86.tar.bz2"
SUNW_SPRO12u1_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/sunstudio12u1-patched-ii-2010Feb-sol-x86.tar.gz"
ON_CLOSED_BINS_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/on-closed-bins.i386.tar.bz2"
ON_CLOSED_BINS_ND_URL="https://guest:GrojhykMid@stuff.joyent.us/stuff/illumos/on-closed-bins-nd.i386.tar.bz2"
GET_ILLUMOS="(cp -r BUILDDIRillumos-joyent illumos)"
GET_ILLUMOS_EXTRA="cp -r BUILDDIRillumos-extra illumos-extra"
OVERLAYS="sdc generic"
